asgiref==3.7.2
async-timeout==4.0.3
brotlipy==0.7.0
certifi==2022.5.18.1
cffi
charset-normalizer==2.0.12
cloudinary==1.29.0
colorama
conda==4.12.0
conda-content-trust
conda-package-handling
cryptography
distlib==0.3.8
dj-database-url==2.1.0
Django==4.2.7
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-crispy-forms==1.14.0
django-decouple==2.1
django-heroku==0.3.1
django-mathfilters==1.0.0
djangorestframework==3.14.0
filelock==3.13.1
gunicorn==21.2.0
idna
menuinst
numpy==1.23.4
packaging==23.2
pandas==1.5.1
Pillow==8.0.0
platformdirs==4.1.0
psycopg2==2.9.9
pycosat==0.6.3
pycparser
pyOpenSSL
PySocks
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.21.0
pytz==2021.3
pywin32==302
redis==5.0.1
requests
ruamel-yaml-conda
six
sqlparse==0.4.1
tqdm
typing_extensions==4.1.1
tzdata==2022.5
urllib3==1.26.9
virtualenv==20.25.0
whitenoise==6.6.0
win-inet-pton
wincertstore==0.2
